/* Global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Header */
header {
  background-color: #2B2C37;
  color: white;
  padding: 1rem 1rem 1rem 4rem;
}   

header h1 {
  position: relative;
  display: inline-block;
  font-size: clamp(1.3rem, 5vw, 1.5rem);
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

header h1::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px; 
  height: 3px;
  background: linear-gradient(to right, rgb(99, 95, 199), rgb(168, 164, 255));
}

/* Main */
main {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  color: #3E3F4E;
  gap: 1.5rem;
  height: 100%;
  overflow: hidden;
}

.container {
  border-left: 1px solid #D1D1D1;
  overflow: auto;
}

/* Media Queries */
@media (max-width: 850px) {
  body {
      overflow: scroll;
  }

  header {
      padding: 1rem;
  }

  main {
      grid-template-columns: 1fr;
      height: auto;
      overflow:visible;
  }

}



