/* Table */
.tableContainer {
    overflow: auto;
    border-left: 1px solid #D1D1D1;
    white-space: nowrap;
  }
  
.table {
    border-collapse: collapse;
    width: 100%;
  }
  
.table th,.table td {
    padding: 1rem;
    text-align: left;
  }
  
.table thead {
    background-color: #625fc712;
  }
  
  
.table tbody .table tr:nth-child(even) {
    background-color: #625fc712;
    
  }
  
.table tbody button {
    background-color: #625fc7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  
.table tbody button:hover {
    background-color: #A8A4FF;
  }
  
.table tbody .btnDelete {
    background-color: #FF4D4D;
  }
  
.tbody .btnDelete:hover {
    background-color: #FF9898;
  }
  
/* Filter */
.filterContainer {
display: grid;
gap: 0.5rem;
padding: 1rem;
}

.filterContainer label {
font-size: 0.8rem;
padding-left: 0.2rem;
}

.filterContainer select {
padding: 0.5rem;
border: 1px solid #D1D1D1;
border-radius: 5px;
max-width: 10rem;
font-size: 0.9rem;
}

.filterContainer select:focus {
outline: 1px solid #635FC7; 
box-shadow: 0 0 5px rgba(98, 95, 199, 0.362);
}

@media (max-width: 850px) {
    .tableContainer {
        border-left: none;
        border-top: 1px solid #D1D1D1;
    }
}
  
  
  
  
